# Java
backend/target/

# Node
frontend/node_modules/
frontend/dist/

# Environment files
.env
*.env

# IDE
.idea/
.vscode/

# Logs
*.log
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables containing secrets
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
